
<form role="form">

<script cam-script type="text/form-script">
	var variableManager = camForm.variableManager;

	camForm.on('form-loaded', function() {
		$scope.qtdDiasDisponivel = 10;
		variableManager.variable( 'qtdDiasDisponivel' ).value =  10;
	});

	camForm.on('variables-fetched', function() {
		if (variableManager.variable( 'qtdDias' ).value > variableManager.variable( 'qtdDiasDisponivel' ).value) {
			 
			variableManager.variable( 'analise' ).value = 'NECESSITA_AJUSTES';
			$('#analise').prop('disabled', 'disabled');
			
			$scope.motivo = 'Quantidade de dias maior que a quantidade de dias disponiveis.';
			$('#motivo').prop('disabled', 'disabled');
		}
    });

	camForm.on( 'variables-applied', function() {

  	});

	camForm.on( 'submit', function() {

  	});

</script>

	<div class="form-group">
		<label for="nomeSolicitante-field">Nome do solicitante:</label>
		<input readonly
				cam-variable-name="nomeSolicitante" 
				cam-variable-type="String" 
				class="form-control"/>
	</div>
	<div class="form-group">
		<label for="dataSolicitacao-field">Data da solicitação:</label>
		<input readonly
				cam-variable-name="dataSolicitacao" 
				cam-variable-type="String" 
				class="form-control"/>
	</div>	
	<hr>
	<div class="form-group">
		<label for="dataSaida-field">Data de saida:</label>
		<div>
			<input type="text"
					readonly
					cam-variable-name="dataSaida" 
					cam-variable-type="Date"
					uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	       			is-open="dataSaidaOpened"
					class="form-control"/>
			<span class="input-group-btn">
			    <button type="button"
			            class="btn btn-default"
			            ng-click="openDataSaida($event)">
			      <i class="glyphicon glyphicon-calendar"></i>
			    </button>
	  		</span>
  		</div>
	</div>
	<div class="form-group">
		<label for="dataRetorno-field">Data de retorno:</label>
		<div>
			<input type="text"
					readonly
					cam-variable-name="dataRetorno" 
					cam-variable-type="Date"
					uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	       			is-open="dataRetornoOpened"
					class="form-control"/>
			<span class="input-group-btn">
			    <button type="button"
			            class="btn btn-default"
			            ng-click="openDataRetorno($event)">
			      <i class="glyphicon glyphicon-calendar"></i>
			    </button>
	  		</span>
  		</div>
	</div>
	<div class="form-group">
		<label for="qtdDias-field">Quantidade de dias:</label>
		<input type="number"
				readonly
				cam-variable-name="qtdDias" 
				cam-variable-type="Integer" 
				class="form-control"/>
	</div>
	<hr>
	<div class="form-group">
		<label for="qtdDiasDisponivel-field">Qtd dias disponiveis:</label>
		<input type="number" 
				readonly
				cam-variable-name="qtdDiasDisponivel"
				cam-variable-type="Integer"
				class="form-control"/>
	</div>
	<div class="form-group">
		<label for="analise-field">Aprovar:</label>
		<select id="analise"
				name="analise"
				ng-model="analise"
				cam-variable-name="analise"
				cam-variable-type="String">
			<option value="APROVADO">APROVADO</option>
			<option value="REJEITADO">REJEITADO</option>
			<option value="NECESSITA_AJUSTES">NECESSITA AJUSTES</option>
		</select>
	</div>
	<div class="form-group">
		<label for="motivo-field">Motivo:</label>
		<textarea id="motivo"
				name="motivo" 
				ng-model="motivo"></textarea>
	</div>
	
</form>