<form role="form">
	<script cam-script type="text/form-script">
	var variableManager = camForm.variableManager;

	camForm.on('form-loaded', function() {
		variableManager.fetchVariable('motivo');
	});

	camForm.on('variables-fetched', function() {
		if (variableManager.variable( 'qtdDias' ).value > variableManager.variable( 'qtdDiasDisponiveis' ).value) {
			 
			variableManager.variable( 'analise' ).value = 'NECESSITA_AJUSTES';
			$('#analise-field').prop('disabled', 'disabled');
			
			$scope.motivo = 'Quantidade de dias maior que a quantidade de dias disponiveis.';
			$('#motivo-field').prop('disabled', 'disabled');
		}
    });

	camForm.on( 'variables-applied', function() {

  	});

	camForm.on( 'submit', function() {
		variableManager.variable( 'motivo' ).value = $scope.motivo;
  	});

	</script>
	<div class="row">
		<div class="form-group col-xs-6">
			<label for="nomeSolicitante-field">Nome do solicitante:</label>
			<input id="nomeSolicitante-field"
					cam-variable-name="nomeSolicitante" 
					cam-variable-type="String" 
					class="form-control" readonly/>
		</div>
		<div class="form-group col-xs-6">
			<label for="dataSolicitacao-field">Data da solicitação:</label>
			<input id="dataSolicitacao-field" 		
					cam-variable-name="dataSolicitacao" 
					cam-variable-type="String" 
					class="form-control" readonly/>
		</div>	
	</div>
		
	<div class="row">
		<div class="form-group col-xs-6"">
			<label for="dataSaida-field">Data de saida:</label>
			<input id="dataSaida-field"
					type="text"
					readonly
					cam-variable-name="dataSaida" 
					cam-variable-type="Date"
					uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	       			is-open="dataSaidaOpened"
					class="form-control"/>
		</div>
		
		<div class="form-group col-xs-6"">
			<label for="dataRetorno-field">Data de retorno:</label>
			<input id="dataRetorno-field"
					type="text"
					readonly
					cam-variable-name="dataRetorno" 
					cam-variable-type="Date"
					uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
	       			is-open="dataRetornoOpened"
					class="form-control"/>
		</div>
	</div>	
		
	<div class="row">	
		<div class="form-group col-xs-6">
			<label for="qtdDias-field">Quantidade de dias:</label>
			<input  id="qtdDias-field"
					type="number"
					readonly
					cam-variable-name="qtdDias" 
					cam-variable-type="Integer" 
					class="form-control"/>
		</div>
		
		<div class="form-group col-xs-6">
			<label for="qtdDiasDisponiveis-field">Qtd dias disponiveis:</label>
			<input id="qtdDiasDisponiveis-field"
					type="number" 
					readonly
					cam-variable-name="qtdDiasDisponiveis"
					cam-variable-type="Integer"
					class="form-control"/>
		</div>
	</div>
	<div class="row">	
		<div class="form-group col-xs-6">
			<label for="analise-field">Aprovar:</label>
			<select id="analise-field"
					name="analise"
					ng-model="analise"
					cam-variable-name="analise"
					cam-variable-type="String"
					class="form-control">
				<option value="APROVADO">APROVADO</option>
				<option value="REJEITADO">REJEITADO</option>
				<option value="NECESSITA_AJUSTES">NECESSITA AJUSTES</option>
			</select>
		</div>
		
		<div class="form-group col-xs-6">
			<label for="motivo-field">Motivo:</label>
			<textarea id="motivo-field"
					name="motivo" 
					ng-model="motivo"
					class="form-control"></textarea>
		</div>
	</div>	
</form>